* {
    margin: 0;
    padding: 0;
    font: 18px Roboto;
}

:root {
    --covidiot-red: #a62639;
    --town-green: #4d908e;
    --chaotic-purple: #C06E52;
;
    --neutral-grey: #564256;
}

body {
    width: 60%;
    margin: auto;
    margin-top: 55px;
}

.mainmenugrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 50px;
}

.rolegrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    width: 80%;
    margin: auto;
}

.profileimage {
    width: 100%;
    min-width: 200px;
    object-fit: cover;
}

.rolesummary {
    background-color: #eee;
    padding: 30px;
    height: auto;
    border-radius: 30px;
}

.rolesummary p {
    margin-bottom: 20px;
}
.rolegrid li {
    margin-bottom: 10px;
}

.covidiot {
    background-color: var(--covidiot-red);
}

.town {
    background-color: var(--town-green);
}
.chaotic {
    background-color: var(--chaotic-purple);
}
.neutral {
    background-color: var(--neutral-grey);
}

#hcovidiot {
    color: var(--covidiot-red) !important;
}

#htown {
    color: var(--town-green);
}

#hchaotic {
    color: var(--chaotic-purple);
}

.grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

h1 {
    font: 36px 'Roboto Slab', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    color: #00164C;
    text-decoration: underline;
}

b {
    font-weight: 700;
}

h2 {
    font: 24px 'Roboto Slab', serif;
    font-weight: 500;
    color: #00164C;
    margin-bottom: 15px;
}

h3 {
    font: 20px 'Roboto Slab', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    color: #00164C;
}

.mainmenugrid [type=button] {
    font: 24px 'Roboto', sans-serif;
    color: white;
    margin: 3px 20px;
    padding: 5px;
    border: none;
    border-radius: 10px;
}

.mainmenugrid [type=button]:hover, .footer:hover {
    box-shadow: 3px 3px 5px grey;
    border-radius: 10px;
}

.mainmenugrid [type=button]:active, .footer:active {
    background-color: white;
    color: black;
    border-radius: 10px;
}

.footer {
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: var(--neutral-grey);
    color: white;
    margin: 30px auto;
    grid-column: 1/7;
}

p {
    margin-bottom: 10px;
}

input {
    margin-bottom: 5px;
}

.centeredbutton {
    width: 100px;
    display: block;
    margin: auto;
    margin-top: 20px;
}

[type=number] {
    width:30px;
}

form {
    width:auto;
    display:inline-block;
    
}

table {
    border: 2px solid lightgrey;
    border-collapse: collapse;
}

th {
    padding: 5px;
    border: 2px solid lightgrey;
}

td {
    padding: 5px;
    border: 2px solid lightgrey;
    text-align: center;
}

ul {
    margin-bottom: 20px;
    padding-left: 30px;
}
#summary {
    width:auto;
    display:inline-block;
}
#quarantineinfo {
    width:40%;
    margin-bottom: 40px;
}
#quarantineinfo button {
    margin-bottom: 5px;
}
#commandlist {
    color: darkslategray;
}

.extras h3 {
    display: inline-block;
    margin-right: 20px;
}